.flex{
    display: flex;
}

body{
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.key{
    padding: 30px;
    border: solid 1px white;
    flex-grow: 1;
    background-color: rgb(77, 74, 74);
    color: white;
}

#keys{
    flex-grow: 1;
}

.column{
    flex-direction: column;
    border: white;
}

#display-container{
    padding: 5px;
    border-bottom: solid 5px black;
    justify-content: flex-end;
}
#display{
    align-self: flex-start;
    font-size: 40px;
}

.color{
    background-color: aqua;
}

#clr{
    padding-left:18px;
    padding-right:17px;
}

#Calculator{
    justify-content: center;
}

.grow{
    flex-grow: 1;
}

#container{
    border: solid 5px black;
}